[submodule "MONAN-Model"]
	path = MONAN-Model
	url = https://github.com/GTA-DIMNT-CPTEC/MONAN-Model
[submodule "MOM6-examples"]
	path = MOM6-examples
	url = https://github.com/GTA-DIMNT-CPTEC/MOM6-examples
